@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200..900&display=swap");
.products h1 {
  color: rgb(140, 218, 63);
  font-size: 4rem;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
.products .products-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.products .products-container .bca {
  border: 1px solid rgb(140, 218, 63);
}
.products .products-container .cards3 {
  margin: 4rem 4rem;
  max-width: 46.4rem;
  display: flex;
  flex-direction: column;
}
.products .products-container .cards3 .seller {
  color: black;
  font-size: 1.6rem;
  background-color: rgb(140, 218, 63);
  width: 10rem;
  padding: 4px 12px;
  margin-top: 0;
  align-self: flex-start;
}
.products .products-container .cards3 .bca-img {
  max-width: 43rem;
  max-height: 42rem;
  display: flex;
  margin: 0 auto;
  padding: 0.1rem 0.1rem;
}
.products .products-container .cards3 button {
  background-color: transparent;
  border: 2px solid rgb(140, 218, 63);
  color: rgb(140, 218, 63);
  padding: 8px 15px;
  margin: 4rem auto;
  padding: 1.5rem 15rem;
  cursor: pointer;
  border-radius: 2.2rem;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}
.products .products-container .cards3 button:hover {
  background-color: rgb(140, 218, 63);
  color: black;
}

html {
  font-size: 62.5%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #0e1829;
}

@view-transition {
  navigation: auto;
}
::view-transition-group {
  animation-duration: 1s;
}

.wrapper {
  background-image: url("../images/background-suppliments.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.left-side {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  margin: 2rem 4rem;
}
.left-side span {
  font-family: "Oswald", sans-serif;
  font-size: 5.8rem;
  font-weight: 400;
  color: rgb(140, 218, 63);
}
.left-side p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
  color: rgb(140, 218, 63);
  display: flex;
}

.right-side {
  gap: 2.5rem;
  margin: 2rem 4rem;
}
.right-side .top-half {
  display: flex;
  gap: 2.5rem;
  justify-content: flex-end;
}
.right-side .search-btn {
  background: none;
  border: none;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}
.right-side .search-btn:hover {
  color: rgb(140, 218, 63);
}
.right-side .login {
  font-family: "Urbanist", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: rgb(140, 218, 63);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.1s ease;
}
.right-side .login i {
  font-size: 2.8rem;
}
.right-side .login:hover {
  color: rgb(99, 97, 97);
}
.right-side .cart-link {
  color: rgb(140, 218, 63);
  font-size: 3rem;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}
.right-side .fa-shopping-bag {
  background: transparent;
}
.right-side .burger-menu {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 3rem;
  display: none;
}

.main-nav {
  width: 100%;
  margin-top: 4rem;
  display: inline-block;
}
.main-nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin: 2rem 4rem;
}
.main-nav a {
  text-decoration: none;
}
.main-nav a li {
  font-family: "Urbanist", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  transition: color 0.3s ease;
  padding: 5px 0;
}
.main-nav a li.active {
  color: rgb(140, 218, 63);
}
.main-nav a li:hover {
  color: rgb(140, 218, 63);
}

.container2 {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.container2 .left-side2 {
  gap: 2rem;
}
.container2 .left-side2 .headers {
  font-size: 7.5rem;
  color: rgb(140, 218, 63);
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}
.container2 .left-side2 p {
  font-family: "Urbanist", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  line-height: 2.5rem;
  max-width: 26rem;
  margin-top: 3rem;
  font-weight: 200;
}
.container2 .left-side2 button {
  width: 24rem;
  height: 6rem;
  font-size: 2rem;
  border-radius: 3rem;
  background: transparent;
  color: rgb(140, 218, 63);
  border: 1px solid rgb(140, 218, 63);
  margin-top: 3rem;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}
.container2 .left-side2 button:hover {
  background-color: rgb(140, 218, 63);
  color: black;
}
.container2 .right-side2 {
  width: 53rem;
  height: 59.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container2 .right-side2 .image {
  position: relative;
  display: flex;
  width: 53rem;
  height: 59.3rem;
  display: block;
  margin: 0 auto;
}
.container2 .right-side2 .image img {
  width: 53rem;
  height: 59.3rem;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
}
.container2 .right-side2 .image .protein {
  animation: firstImageFade 12s infinite ease-in-out;
}
.container2 .right-side2 .image .pre-workout {
  animation: secondImageFade 12s infinite ease-in-out;
}
@keyframes firstImageFade {
  0%, 40% {
    opacity: 1;
    transform: scale(1.05);
  }
  50%, 90% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.05);
  }
}
@keyframes secondImageFade {
  0%, 40% {
    opacity: 0;
    transform: scale(1);
  }
  50%, 90% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@media screen and (max-width: 1400px) {
  .left-side {
    margin: 1rem 2rem;
  }
  .left-side span {
    font-size: 4.8rem;
  }
  .left-side p {
    font-size: 1.3rem;
  }
  .right-side {
    gap: 1.5rem;
    margin: 2rem 2rem;
  }
  .right-side .top-half {
    gap: 2.5rem;
  }
  .right-side .search-btn {
    font-size: 2rem;
  }
  .right-side .login {
    font-size: 1.5rem;
    gap: 5px;
  }
  .right-side .login i {
    font-size: 2rem;
  }
  .right-side .cart-link {
    color: rgb(140, 218, 63);
    font-size: 2rem;
  }
  .main-nav {
    width: 100%;
    margin-top: 3rem;
    display: inline-block;
  }
  .main-nav ul {
    gap: 20px;
    margin: 2rem 2rem;
  }
  .main-nav a li {
    font-size: 1.4rem;
  }
  .container2 .left-side2 .headers {
    font-size: 5.5rem;
  }
  .container2 .left-side2 p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .container2 .left-side2 button {
    width: 22rem;
    height: 6rem;
    font-size: 2rem;
  }
  .container2 .right-side2 {
    width: 45rem;
    height: 40rem;
  }
  .container2 .right-side2 .image {
    width: 100% !important;
    height: 100% !important;
  }
  .container2 .right-side2 img {
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (max-width: 998px) {
  .left-side span {
    font-size: 4rem;
  }
  .left-side p {
    font-size: 1.3rem;
  }
  .right-side .top-half {
    gap: 2.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .right-side .search-btn {
    font-size: 3rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    order: 2;
    margin-top: 4rem;
  }
  .right-side .login {
    display: none;
  }
  .right-side .cart-link {
    font-size: 3rem;
  }
  .right-side .burger-menu {
    display: flex;
    font-size: 3rem;
  }
  .right-side .main-nav {
    display: none;
  }
  .right-side .main-nav.active {
    display: block;
    position: absolute;
    top: 70px;
    right: 4rem;
    width: 200px;
    z-index: 2;
  }
  .container2 .left-side2 .headers {
    font-size: 4.5rem;
  }
  .container2 .left-side2 p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    width: 20rem;
  }
  .container2 .left-side2 button {
    width: 19rem;
    height: 5rem;
    font-size: 1.8rem;
  }
  .container2 .right-side2 {
    width: 30rem;
    height: 35rem;
  }
}
@media screen and (max-width: 768px) {
  .right-side .cart-link {
    font-size: 2.5rem;
  }
  .right-side .burger-menu {
    font-size: 2.5rem;
  }
  .right-side .search-btn {
    font-size: 2rem;
    margin-top: 2rem;
  }
  .container2 {
    padding: 2rem 2rem;
  }
  .container2 .left-side2 .headers {
    font-size: 3.8rem;
    line-height: 2rem;
  }
  .container2 .left-side2 p {
    margin-top: 2rem;
    font-size: 1.3rem;
    line-height: 1.5rem;
    width: 20rem;
  }
  .container2 .left-side2 button {
    margin-top: 2rem;
    width: 19rem;
    height: 4rem;
    font-size: 1.5rem;
  }
  .container2 .right-side2 {
    width: 27rem;
    height: 30rem;
  }
}
@media screen and (max-width: 550px) {
  .container2 {
    padding: 2rem 2rem;
    display: grid;
    grid-template-columns: 12rem 20rem;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: 36rem;
  }
  .container2 .left-side2 {
    display: contents;
  }
  .container2 .left-side2 .headers {
    font-size: 2.9rem;
    line-height: 2.6rem;
    grid-column: 1/2;
    grid-row: 1;
    margin-top: 3rem;
    gap: 1rem;
    text-align: left;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 0rem;
  }
  .container2 .left-side2 p {
    margin-top: 1.5rem;
    font-size: 1.7rem;
    line-height: 2.7rem;
    width: 14rem;
    grid-column: 1/2;
    grid-row: 2;
    margin-top: -4rem;
  }
  .container2 .left-side2 button {
    margin-top: 0rem;
    cursor: pointer;
    grid-column: 1/3;
    grid-row: 3;
    margin-top: 0rem;
    width: 100%;
    height: 5rem;
    font-size: 1.6rem;
    justify-self: center;
  }
  .container2 .left-side2 button:hover {
    background-color: rgb(140, 218, 63);
  }
  .container2 .right-side2 {
    width: 20rem;
    height: 35rem;
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 3rem;
  }
  .container2 .right-side2 .image {
    width: 100%;
    height: 100%;
  }
  .container2 .right-side2 .image img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (max-width: 450px) {
  .right-side .wrapper {
    background-size: cover;
    background-size: 100% auto;
  }
}
@media screen and (max-width: 360px) {
  .container2 {
    grid-template-columns: 10rem 17rem;
  }
}/*# sourceMappingURL=style.css.map */