@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200..900&display=swap');

$font-oswald: 'Oswald', sans-serif;
$font-avenir: 'Urbanist', sans-serif;
$primary-color:rgb(140, 218, 63);
$font-proxima: 'Montserrat', sans-serif;



@mixin laptop(){
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}


@mixin button-hover {
        transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    
    &:hover {
        background-color:$primary-color;
        color: black;

    }

    &:active {
            transform: scale(0.95); 

        }
}

@mixin logo-txt-hover {
    transition: color 0.3s ease, transform 0.2s ease;

    &:hover {
            color: $primary-color;
            transform: scale(1.1);
        }

    &:active {
            transform: scale(0.85); 
            color: #ffffff; 
        }
}